[MAIN]

py-version=3.8.0

ignore=examples

[MESSAGES CONTROL]

disable=
    multiple-imports,
    missing-docstring,
    too-few-public-methods,
    too-many-instance-attributes,
    dangerous-default-value,
    inconsistent-return-statements,
    logging-not-lazy

[FORMAT]

max-line-length=130

good-names=id,on,pl,t,A,B,C,D,E,F

[TYPECHECK]

generated-members=websockets