[MAIN]

py-version=3.8.0

ignore=examples

[MESSAGES CONTROL]

disable=
    multiple-imports,
    missing-docstring,
    logging-not-lazy,
    logging-fstring-interpolation,
    too-few-public-methods,
    too-many-public-methods,
    too-many-instance-attributes,
    dangerous-default-value,
    inconsistent-return-statements,

[FORMAT]

max-line-length=120

good-names=id,on,pl,t,ip,tf,A,B,C,D,E,F

[TYPECHECK]

generated-members=websockets
