[MESSAGES CONTROL]

disable=too-few-public-methods,
        import-error,
        too-many-arguments,
        duplicate-code,
        too-many-locals,
        no-init,
        len-as-condition,
        too-many-instance-attributes,
        invalid-name

ignore=tests,websockets,rest,utils
